html{
    margin: 0px;
   height: 100%;
   width: 100%;
}

body{
    background: grey;
    margin: 0px;
   min-height: 100%;
   width: 100%;
    font-family: 'Roboto', sans-serif;
}

.container{
    margin-left:auto;
    margin-right:auto;
    background: #fff;
    min-height: -webkit-fill-available;
    height:100%;
    width: 80%; 
}

.content{
    width: 100%;
   min-height: 100vh;
    max-width: 900px;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    padding-top: 24px;
}

.content h2{
    margin-bottom: 40px;
}

.content h2 span {
    color: #33687A;
}

.content h1 {
    margin-left: 20px;
    margin-right: 20px;
}

.content h1 span:nth-child(1), .content h1 span:nth-child(3) {
    color: #33687A;
}

.content h1 span:nth-child(2) {
    color: #87C771;
}

.question-buttons{
    width: 30%;
    height: 350px;
    margin-top: 50px;
    margin-left: 50px;
}

.question-buttons ul {
    height: 100%;
    color:white;
    padding: 0; 
    margin: 0;
    outline: none;
    font-size:15px;
    cursor: pointer;
    text-transform: uppercase;
    list-style-type: none;
    display:flex;
    flex-direction: column;
    justify-content: space-between;  
    -webkit-tap-highlight-color: transparent;
}

.question-buttons ul li { 
    width: 100%;  
    border:none;
    background: #326A7C;
    border-radius: 2px;
    box-shadow: 0 0 4px #999;
}

.question-buttons ul li a{
    display:block;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    text-decoration: none;

    padding: 18px 6px;
    
}

.active {
    color:#87c871;
    font-weight:bold;
}

.question-buttons ul .ripple {
    background-position: center;
    transition: background 0.8s;
}

.question-buttons ul .ripple:hover {
    background: #3D849B radial-gradient(circle, transparent 1%, #3D849B 1%) center/15000%;
  }

.question-buttons ul .ripple:active {
    background-color: #6FA7B9;
    background-size: 100%;
    transition: background 0s;
}


.collapsed-content {
    padding: 0 18px;
    display:block;
    overflow: hidden;
 
    background-color:white;
    transition: max-height 1s;
  
}

.hide {
    display:none !important;
}

.answers-container{
    position: relative; 
}

.answer{
    position: absolute;
    margin-left:auto;
    margin-right:auto;
    top: -300px;
    right:50px;
    width:55%;
    font-weight: 100;
    font-size: 26px;
    line-height: 35px;
    color: #545454;
}

.thewhat, .thewhy, .thewho, .thewhen, .thewhere, .thehow {
    display: none;
}

.thewho {
    line-height: normal;
}

.thewho span:nth-child(1){
    color: #33687A;
}

.thewho span:nth-child(2) {
    color: #87C771;
}

.thehow {
    text-align: left;
    font-size: 21px;
}

.thehow, .thewho{
    top: -350px;
}

.thehow ul {
    margin: 0;
}

.tick-line {
    font-size: 16px;
    color: #87C771;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
}

.cross-line {
    font-size: 16px;
    color: red;
    margin-top: 0;
    margin-left: 20px;
}

.register{
    margin-top: 300px;
    margin-bottom: 20px;
}

.register-now {
    display: inline-block;
    
    padding: 1.2em 5em;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    border: none; 
    font-size: 15px;
    text-align: center;
    background-color: #87C771;
  color: white;
}

.register-now:hover {
    box-shadow: 1px 6px 15px rgba(0,0,0,0.5);
}

.about-us-image{
    margin-top: 400px;
}

.about-us-image img{
    max-width:100%;
    max-height:100%;

}

@media screen and (min-width: 769px) and (max-width: 1170px){
    .answer{
        font-size:22px;
        width: 58%;
        right: 37px;
    }

    .question-buttons {
        margin-left: 20px;
    }

    .thehow {
        font-size: 18px;
        line-height: 22px;
    }

    .tick-line, .cross-line {
        font-size: 14px;
    }

}

@media screen and (max-width: 768px) {
body {
    background:white;
}

    .container{
        width:100%;
    }


   .content h1 {
        font-size: 1.7em;
   }

   .question-buttons {
    margin-left: 20px;
}

.answer{
    font-size:18px;
    font-weight: 600;
    right: 37px;
}

    .thehow {
        font-size: 16px;
        line-height: 22px;
    }

    .tick-line, .cross-line {
        font-size: 12px;
    }



   .question-buttons ul li{
      
        margin-bottom: 12px;
    }

    .about-us-image{
        margin-top: 300px;
    }
}

@media screen and (max-width: 500px){
    .content{
        padding-top: 0;
    }

    .content h2 {
        font-size: 1.3em;
        margin-bottom: 20px;
    }

    .content h1 {
        font-size: 1.5em;
    }

    .question-buttons {
        width: 25%;
        margin-left: 12px;
        margin-top: 20px;
    }

    .question-buttons ul {
        font-size: 12px;
    }

    .answer {
        font-size: 15px;
        right: 13px;
        width: 63%;
    }

    .about-us-image{
        margin-top: 287px;
    }

    .thehow ul {
        padding-inline-start: 16px;
    }

    .tick-line, .cross-line {
        margin-left:0px;
    }

    .thewhy {
        top: -330px;
    }

    .register{
        margin-top: 325px;
    }
}

@media (orientation: landscape) and (max-width: 900px) {
    body {
        background:white;
    }

    .container{
        width:100%;
    }

    .answers-container{
        margin-top:22px;
    }

    .about-us-image{
        margin-top:335px;
    }
}

@media (orientation: landscape) and (max-width: 668px) {
   .question-buttons li a{
        font-size:14px;
    }
    .answer{
        font-size: 16px;
    }

    .answers-container{
        margin-top:6px;
    }
    .about-us-image{
        margin-top:280px;
    }
}